<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gatito</title>
</head>
<body>
    <h1>miau</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, ipsum sunt! Assumenda ipsa, illo deserunt nam nobis ipsum ad rem officia consequuntur, optio est velit accusantium molestiae, ipsam voluptatem unde!</p>
    <img src="../static/img/mishi.jpg" alt="foto de un mishi">
</body>
</html>